html
head 
body
	h1 Search the Users!
//WATCH OUT FOR SPACES OR INDENTS, THE WHOLE DOCUMENT MUST USE ONE OR ANOTHER, GEEN COMBOS !
form(method ="post", action ="/result")
	p First Name
	input(type="text",name="firstname")
	p Last Name 
	input(type="text",name="lastname")
	p
	input(type="submit")
    
