html
head 
body
    h1 User list
    each thing in userList 
        //iterate through array
        p= thing.firstname + " " + thing.lastname + ": " + thing.email
        //return and format firstname,lastname and email as paragraphs.

