html
head 
body
	h1 Enter your details!
	// REMEMBER INDENTATION, OR ELSE EVERYTHING WILL GO WRONG IN STUPID JADE. 
	form(method ="post",action ="/adduser") 
		p First Name
			input(type="text",name="firstname")
		p Last Name 
			input(type="text",name="lastname")
		p email
			input(type="text",name="email")
		p
			input(type="submit")
				
ul
	li
		a(href='/users')	User List
	li
		a(href='/newusers')	Make a New User
	li
		a(href='/search2')	Search the Users